@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 53, 184, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.appTitle {
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
}
.card{
  max-width: 350px;
  width: 100%;
}
.footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  z-index: 10;
}